* {
  box-sizing: border-box;
}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.875;
  color: #252525;
  margin: 0;
}

header > h1,
main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.main__form {
  flex: 4;
}

.main__summary {
  flex: 3;
  margin-left: 0.2rem;
}

